<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
    <title> Accessing Data With SQL </title>

    <style type="text/css">
        #tile {
            height:100px;
            border:1px solid #999;
            text-align:center;
            background:url('../images/me.jpg');
            background-size: 7px 7px;
            background-repeat:repeat;
            background-position:0 100px;
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <img src="/images/colorful-img.jpg" style="width:100%; height: 200px;"/>
    <div class="container">
        <div class="text-primary" id="search-body" style="border-bottom: solid 2px #428bca; margin-bottom: 20px">
            <h1>Dylan's CRUD App</h1>
        </div>
        <h2 class="text-primary" style="margin: 30px 0px 30px 0px;">Form</h2>
        <form  class="text-primary" id="submit-form"  th:object="${user}" method="post" >
            <div class="form-group">
                <label for="nameField">Name <span style="color: red;">*</span></label>
                <input type="text" required="" maxlength="50" th:field="*{name}" class="form-control" id="nameField"/>
            </div>
            <div class="form-group">
                <label for="emailField">Email <span style="color: red;">*</span></label>
                <input type="email" required="" maxlength="50" th:field="*{email}" class="form-control" id="emailField"/>
            </div>

            <p th:text="${message}"/>
        </form>
        <button type="submit" form="submit-form" class="button btn btn-default btn-primary" id="addButton"  name="button"   >Add</button>
        <button class="btn btn-default btn-primary" onclick="window.location.href='/demo/all?pageNumber=1'">View All Users</button>
    </div>
    <div id="tile"></div>
</body>
<script src="/jquery-3.2.1.min.js"></script>
<script id="button-if">
    $('#addButton').click(function(){
        $('#submit-form').attr('action', '/demo/add');

    });
</script>
</html>