<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
    <title>Table</title>

    <style type="text/css">
        #tile {
            height:100px;
            border:1px solid #999;
            text-align:center;
            background:url('../images/me.jpg');
            background-size: 7px 7px;
            background-repeat:repeat;
            background-position:0 100px;
            margin-top: 50px;
        }
        td{
            word-wrap: break-word;
        }

        .pagination{
            align-items:center;
        }
        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }

        .pagination a.active {
            background-color: #428bca;
            color: white;
        }

        .pagination a:hover:not(.active) {background-color: #ddd;}

        td{
            padding: 0 15 0 15;
        }
    </style>


</head>
<body>
<img src="/images/omfgdogs.gif" style="width:100%; height: 200px;"/>
<div class="container" style="margin-bottom: 50px;" >

    <div style="margin: 20px 0px 20px 0px;">

        <!--===========================Search Form===================================================-->
        <form  id="submit-search-form" th:action="@{/demo/search?pageNumber=1}" th:object="${user}" method="post" >
            <div class="text-primary" id="search-body" style="border-bottom: solid 2px #428bca; margin-bottom: 20px">
                <div class="form-group" style="clear:both; display: inline-block" >
                    <input type="number" min="0" max="922337203685477589" th:field="*{id}" class="form-control" id="searchIdField" placeholder="ID"/>
                </div>
                <div class="form-group" style="clear:both; display: inline-block">
                    <input type="text" maxlength="50" style="" th:field="*{name}" class="form-control" id="searchNameField" placeholder="Name"/>
                </div>
                <div class="form-group" style="clear:both; display: inline-block">
                    <input type="text"  maxlength="50" style="" th:field="*{email}" class="form-control" id="searchEmailField" placeholder="Email"/>
                </div>
                <button  class="button btn btn-default btn-primary" id="searchButton"  name="button"> Search </button>
            </div>
        </form>
    </div>

    <h2 class="text-primary" style="margin: 30px 0px 30px 0px;"> Users</h2>
    <div class="pagination container">
         <button th:each='i : ${#numbers.sequence( 1, __${numberOfPages}__/1)}' th:text="${i}" th:onclick="'searchPaging(\''+${i}+'\' ,\''+${tag}+'\');'"></button>
    </div>

    <!--===============================Table=================================================-->
    <table class="table " id="myTable"  style="table-layout:fixed">
        <thead>
        <tr class="text-primary">
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="prod : ${list}" th:id="'row-' + ${prod.id}">
            <td th:text="${prod.id}"></td>
            <td th:text="${prod.name}"></td>
            <td th:text="${prod.email}"></td>
            <td>
                <button th:attr="data-id=${prod.id}" data-toggle="modal" data-target="#myModal" class="edit-button btn btn-default btn-info">Edit</button>
                <button th:attr="data-id=${prod.id}" data-toggle="modal" data-target="#contactModal" class="contact-button btn btn-default btn-info"  > <span class="glyphicon glyphicon-phone"></span> Info</button>
            </td>
            <td><button th:attr="data-id=${prod.id}" class="delete-button btn btn-default btn-danger" id="delete-button ">Delete</button></td>
        </tr>
        </tbody>
    </table>
    <div class="pagination container">
        <button th:each='i : ${#numbers.sequence( 1, __${numberOfPages}__/1)}' th:text="${i}" th:onclick="'searchPaging(\''+${i}+'\' ,\''+${tag}+'\');'"></button>
    </div>
    <button class="btn btn-default btn-primary " onclick="window.location.href='/demo/'">Back to Form</button>
    <button class="btn btn-default btn-primary" onclick="window.location.href='/demo/all?pageNumber=1'">View All Users</button>
</div>


<!-- =================================Edit Modal======================================================== -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">


                <form  id="submit-edit-form" th:action="@{/demo/edit}" th:object="${user}" method="post">
                    <div class="form-group" style="display: none;">
                        <label for="editIdField">Id</label>
                        <input type="text" th:field="*{id}" class="form-control" id="editIdField"/>
                    </div>
                    <div class="form-group">
                        <label for="editNameField">Name <span style="color: red;">*</span></label>
                        <input type="text" required="" maxlength="50" th:field="*{name}" class="form-control" id="editNameField"/>
                    </div>
                    <div class="form-group">
                        <label for="editEmailField">Email <span style="color: red;">*</span></label>
                        <input type="email" required="" maxlength="50" th:field="*{email}" class="form-control" id="editEmailField"/>
                    </div>

                </form>

                <!--================================ Add New Contact ==============================-->

                <h4 style="border-top: 1px lightgray solid; padding: 20px 0px 20px 0px;" >Add Contact:</h4>

                <form  id="new-contact-form"  method="post" th:object="${user}">
                    <div class="form-group" style="display: none;">
                        <label for="editContactIdField">Id</label>
                        <input type="text" th:field="*{id}" class="form-control" id="editContactIdField"/>
                    </div>

                    <div class="form-group">
                        <label for="editTypeField">Type</label>
                        <input type="text" name="type" required="" maxlength="50"  class="form-control" id="editTypeField"/>
                    </div>
                    <div class="form-group">
                        <label for="editNumberField">Number</label>
                        <input type="tel" name="number" required="" maxlength="50"  class="form-control" id="editNumberField"/>
                    </div>

                    <button id="addNumberButton" class="btn btn-default btn-primary" >Add Contact</button>

                </form>
                <!--======================================================================================-->

                <h4 style="border-top: 1px lightgray solid; padding: 20px 0px 20px 0px;" >User's Contacts:</h4>

                <div id="edit-contact-data" >
                    <table class="table " id="contactEditTable" style="table-layout:fixed">
                        <thead>
                        <tr class="text-primary">
                            <th>Type</th>
                            <th>Number</th>
                        </tr>
                        </thead>
                        <tbody id="contact-edit-table-body">
                        <tr></tr>
                        </tbody>
                    </table>
                </div>




            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-primary" id="save-button"  >Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            <p id="modal-message" th:text="${message}" style="margin: 10px;"></p>
        </div>
    </div>
</div>

<!-- =================================Contact Info Modal======================================================== -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-target="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="contactModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">

                <table class="table " id="contactTable"  style="table-layout:fixed">
                    <thead>
                    <tr class="text-primary">
                        <th>ID</th>
                        <th>Type</th>
                        <th>Number</th>
                    </tr>
                    </thead>
                    <tbody id="contact-table-body">
                        <tr id="placeholder"></tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--=====================================================================================================-->




<div id="tile"></div>
</body>




<script src="/jquery-3.2.1.min.js"></script>
<script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $(".edit-button").on("click", function () {
            var id = $(this).data("id");
            $("#myModalLabel").text('Edit User');


//     ====================================== Edit Contact Info =======================================================
            // AJAX call, get a user, pull info from that user.

            var url = "/demo/contactUser?id=" + id;
            $.ajax({
                type: "GET",
                url: url,
                success:function(data){
                    $('input[id=editIdField]').val(data.id);
                    $('input[id=editContactIdField]').val(data.id);
                    $('input[id=editNameField]').val(data.name);
                    $('input[id=editEmailField]').val(data.email);

                    data.phoneNumbers.forEach(function(element){
                        $("#contact-edit-table-body").append('<tr></tr>');
                        $("#contact-edit-table-body").find('tr:last-of-type').append('<form class="mini-save-form" id="'+ element.phoneNumberId + '"></form>');
                        $("#contact-edit-table-body").find('tr:last-of-type').find('form:last-of-type').append('<td ></td>');
                        $("#contact-edit-table-body").find('tr:last-of-type').find('form:last-of-type').find('td:last-of-type').append('<input name="phoneNumberId" type="hidden" />').find('input:last-of-type').val(element.phoneNumberId);
                        $("#contact-edit-table-body").find('tr:last-of-type').find('form:last-of-type').append('<td></td>');
                        $("#contact-edit-table-body").find('tr:last-of-type').find('form:last-of-type').find('td:last-of-type').append('<input type="hidden" name="id"/>').find('input:last-of-type').val(element.id);
                        $("#contact-edit-table-body").find('tr:last-of-type').find('form:last-of-type').append('<td></td>');
                        $("#contact-edit-table-body").find('tr:last-of-type').find('form:last-of-type').find('td:last-of-type').append('<input name="type"/>').find('input:last-of-type').val(element.type);
                        $("#contact-edit-table-body").find('tr:last-of-type').find('form:last-of-type').append('<td></td>');
                        $("#contact-edit-table-body").find('tr:last-of-type').find('form:last-of-type').find('td:last-of-type').append('<input name="number" style="margin-left: 50px;"/>').find('input:last-of-type').val(element.number);
                        $("#contact-edit-table-body").find('tr:last-of-type').find('form:last-of-type').append('<td></td>');
                        $("#contact-edit-table-body").find('tr:last-of-type').append('<button class="mini-save-button" data-form-id="'+ element.phoneNumberId + '" style="margin: 10px 0px 20px 0px;">Submit</button>');
                    })


                }
            });


         //==============================================================================================


        });
        $(".delete-button").on("click", function () {
            var idData = $(this).data("id");
            $("#delete-confirm-button").remove();
            $("#delete-cancel-button").remove();
            $("#myTable").find('td').find("#current-delete-button").toggle(true);
            $("#myTable").find('td').find("#current-delete-button").attr("id", "delete-button");
            $(this).attr("id", "current-delete-button");
            $(this).parent().append($('<button class="btn btn-default btn-danger" onclick="submitData(' + idData + ')" id="delete-confirm-button">Confirm</button>'));
            $(this).parent().append($('<button class="btn btn-default btn-success" onclick="clickCancel()" id="delete-cancel-button">Cancel</button>'));
            $("#myTable").find('td').find("#current-delete-button").toggle(false);
        });

        $(".contact-button").on("click", function () {
            var id = $(this).data("id");
            $("#contactModalLabel").text('User Contact Info');
            var url = "/demo/contact?id=" + id;
            $.ajax({
                type: "GET",
                url: url,
                success:function(data){
                    data.forEach(function(element){

                        $("#contact-table-body").append('<tr></tr>');
                        $("#contact-table-body").find('tr:last-of-type').append('<td></td>').find('td:last-of-type').text(element.phoneNumberId);
                        $("#contact-table-body").find('tr:last-of-type').append('<td></td>').find('td:last-of-type').text(element.type);
                        $("#contact-table-body").find('tr:last-of-type').append('<td></td>').find('td:last-of-type').text(element.number);
                    })
                }
            });
        });

        $("#save-button").on("click", function () {

            var formData = $("#submit-edit-form").serializeArray();
            var data = {};
            $(formData ).each(function(index, obj){
                data[obj.name] = obj.value;
            });
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "POST",
                url: "/demo/edit",
                data: JSON.stringify(data),

                success: function(data) {
                    if (data === "success") {

//                        refresh();
                    }
                    else {
                        $("#modal-message").text(data);
                    }
                }

            });
            window.setTimeout(function () {
                $('#myModal').modal('hide');
            }, 500);

        });

        $("#contactEditTable").on("click", ".mini-save-button", function () {

            var formData = $("#"+ $(this).data("form-id")+".mini-save-form").serializeArray();

            var data = {};
            $(formData ).each(function(index, obj){
                data[obj.name] = obj.value;
            });
            $.ajax({
                type: "POST",
                url: "/demo/editNumber",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(data),

                success: function (data) {
                    if (data === "success") {
                        refresh();
                    }
                    else {
                        $("#modal-message").text(data);
                    }
                }

            });
        });

        $("#addNumberButton").on("click", function () {
            var formData = $("#new-contact-form").serializeArray();
            var data = {};
            $(formData ).each(function(index, obj){
                data[obj.name] = obj.value;
            });
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "POST",
                url: "/demo/editNumber",
                data: JSON.stringify(data),

                success: function(data) {
                    if (data === "success") {
//                        refresh();
                    }
                    else {
                        $("#modal-message").text(data);
                    }
                }
            });
        });


    })


    function clickCancel() {
        $("#delete-confirm-button").remove();
        $("#delete-cancel-button").remove();
        $("#myTable").find('td').find("#current-delete-button").toggle(true);
        $("#myTable").find('td').find("#current-delete-button").attr("id", "delete-button");
    };

    function submitData(id) {
        var url = "/demo/remove/" + id;
        $.post(url, refresh());
    };
    function refresh() {
        window.location.reload();
    }

    $("#contactModal").on("hidden.bs.modal", function(){
        $("#contact-table-body").html("");
    });

    $("#myModal").on("hidden.bs.modal", function(){
        $(".modal-body").html("");
        refresh();
    });



    $('#save-new-number-button').click(function(){
        $('#new-contact-form').attr('action', '/addContact');

    });



</script>

<script>
    $('#myModal').submit(function() {
        $('#myModal').modal('hide');
    });
</script>

<script th:inline="javascript">

    function searchPaging(i, tag){
        var action = "/demo/" + tag + "?pageNumber=" + i;
        if(tag === "search") {
            $("#submit-search-form").attr('action', action);
            $("#submit-search-form").submit();
            return false;
        }
        else if (tag === "all"){
            window.location.href=action;
        }
    }




</script>



</html>