<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
    <title>Table</title>


</head>
<body>
<img src="/images/colorful-img.jpg" style="width:100%; height: 200px;"/>
<div class="container" style="margin-bottom: 50px;">

    <div style="margin: 20px 0px 20px 0px;">
        <!--===========================Search Form===================================================-->
        <form  id="submit-search-form" th:action="@{/demo/search}" th:object="${user}" method="post" >
            <div class="text-primary" id="search-body" style="border-bottom: solid 2px #428bca; margin-bottom: 20px">
                <div class="form-group" style="clear:both; display: inline-block" >
                    <input type="number" min="0" max="922337203685477589" th:field="*{id}" class="form-control" id="searchIdField" placeholder="ID"/>
                </div>
                <div class="form-group" style="clear:both; display: inline-block">
                    <input type="text" maxlength="75" style="" th:field="*{name}" class="form-control" id="searchNameField" placeholder="Name"/>
                </div>
                <div class="form-group" style="clear:both; display: inline-block">
                    <input type="email"  maxlength="75" style="" th:field="*{email}" class="form-control" id="searchEmailField" placeholder="Email"/>
                </div>
                <button type="submit" form="submit-search-form" class="button btn btn-default btn-primary" id="searchButton"  name="button"> Search </button>
            </div>
        </form>
    </div>

    <h1 class="text-primary" style="margin-bottom: 50px;"> Users</h1>

    <!--===============================Table=================================================-->
    <table class="table " id="myTable">
        <thead>
        <tr class="text-primary">
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="prod : ${list}" th:id="'row-' + ${prod.id}">
            <td th:text="${prod.id}"></td>
            <td th:text="${prod.name}"></td>
            <td th:text="${prod.email}"></td>
            <td><button th:attr="data-id=${prod.id}" data-toggle="modal" data-target="#myModal" class="edit-button btn btn-default btn-info">Edit</button></td>
            <td><button th:attr="data-id=${prod.id}" data-toggle="modal" data-target="#deleteModal" class="delete-button btn btn-default btn-danger">Delete</button></td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-default btn-primary " onclick="window.location.href='/demo/'">Back to Form</button>
    <button class="btn btn-default btn-primary" onclick="window.location.href='/demo/all'">View All Users</button>
</div>


<!-- =================================Edit Modal======================================================== -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">

                <!--FIX ME-->
                <form  id="submit-edit-form" th:action="@{/demo/edit}" th:object="${user}" method="post" >
                <!--<form  id="submit-edit-form" action="" th:object="${user}" method="post" >-->
                    <div class="form-group" style="display: none;">
                        <label for="editIdField">Id</label>
                        <input type="text" th:field="*{id}" class="form-control" id="editIdField"/>
                    </div>
                    <div class="form-group">
                        <label for="editNameField">Name <span style="color: red;">*</span></label>
                        <input type="text" required="" maxlength="75" th:field="*{name}" class="form-control" id="editNameField"/>
                    </div>
                    <div class="form-group">
                        <label for="editEmailField">Email <span style="color: red;">*</span></label>
                        <input type="email" required="" maxlength="75" th:field="*{email}" class="form-control" id="editEmailField"/>
                    </div>

                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-primary" id="save-button"  >Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            <p id="modal-message" th:text="${message}" style="margin: 10px;"></p>
        </div>
    </div>
</div>




</body>




<script src="/jquery-3.2.1.min.js"></script>
<script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $(".edit-button").on("click", function () {
            var data = $(this).data("id");
            $(".modal-title").text('Edit User');
            $('input[id=editIdField]').val($($('#row-' + data).children()[0]).text());
            $('input[id=editNameField]').val($($('#row-' + data).children()[1]).text());
            $('input[id=editEmailField]').val($($('#row-' + data).children()[2]).text());
        });
        $(".delete-button").on("click", function () {
            var idData = $(this).data("id");
            $(this).parent().append($('<button class="btn btn-default btn-danger" onclick="submitData(' + idData+ ')">Confirm</button>'));
            $(this).parent().append($('<button class="btn btn-default btn-success" onclick="refresh()">Cancel</button>'));
            $(this).remove();
        });

        $("#save-button").on("click", function (){

            var formData = $("#submit-edit-form").serializeArray();


            $.ajax({
                type: "POST",
                url: "/demo/edit",
                data: formData,

                success: function(data){
                    if( data === "success"){
                        refresh();
                    }
                    else{
                        $("#modal-message").text(data);
                    }
                }


            });

        });
    });



    function submitData(id){
        var url="/demo/remove/" + id;
        $.post(url, refresh() );
    };
    function refresh(){
        window.location.reload();
    }
</script>

<script>
    $('#myModal').submit(function() {
        $('#myModal').modal('hide');
    });
</script>



</html>